@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    var selection = Model.Content.Site().Children.Where(x => x.IsVisible());
}

<ul>
    @{
        var HomePage = Model.Content.AncestorsOrSelf(1).FirstOrDefault();
    }
    <li class="dropdown"><a href="@HomePage.Url" class="dropbtn">@HomePage.Name</a></li>
    @foreach (var item in selection)    /* <-- Initial loop */
    {
        <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null) dropdown">

            <a href="@item.Url" class="dropbtn">@item.Name</a>
            <div class="dropdown-content">
                @foreach (var dropdownItem in item.Children.Where(x => x.IsVisible()))  /* <-- Loop within the loop */
                {

                    <a href="@dropdownItem.Url" class="@(dropdownItem.IsAncestorOrSelf(Model.Content) ? "current" : null)">@dropdownItem.Name</a>

                }
            </div>
        </li>
    }
</ul>